.about-container {
  background-color: #f6f6e4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 2rem 1rem;
  margin: 1rem;
}

.footprint {
  margin-right: 15px;
}

.about-text {
  font-weight: 400;
}

@media screen and (max-width: 1350px) {
  .about-container {
    flex-direction: column;
  }
  .about-item {
    margin-bottom: 2rem;
  }
}
