.section-product {
  text-align: center;
  background-color: #3e3e3b;
  background-image: url(../images/info-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 130px 0 50px;
}
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-info-text {
  max-width: 800px;
  margin: 20px;
}
.product-text-box {
  text-align: center;
  background-color: transparent;
  color: #fff;
  margin-top: 10px;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 40px;
}
.product-text-box span {
  display: inline-block;
  background-image: url(../images/generic-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
.section-product .product-info {
  color: #fff;
  margin-bottom: 40px;
}
.section-product .product-info span {
  display: block;
  font-size: 18px;
}
.section-product .product-info p {
  font-size: 16px;
}

@media only screen and (max-width: 1100px) {
  .product-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 522px) {
  .text-box {
    font-size: 52px !important;
  }
}
@media only screen and (min-width: 768px) {
  .section-product {
    padding-top: 155px;
  }
  .section-product .product-info span {
    font-size: 22px;
  }
  .section-product .product-info p {
    font-size: 18px;
  }
}
